@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is designed to store and test information about various creatures from the Pokemon series. It is intended for personal testing of one Pokemon against another outside of official battle contexts, or for helping to incorporate Pokemon into a tabletop RPG.</p>
